
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body
{
	background: #e8e8e8 url(../img/ellipse_1_copy_4.png) 50% 170px no-repeat;
}

.block
{
	padding: 168px 0 137px 0;
	max-width: 841px;
	margin:auto;
}
.block_top_text
{
	text-align: center;
	margin: 0 0 70px 0;;
}
.top_text
{
	opacity: 0.6;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin: 0 0 28px 0;
}
.low_text
{
	font-size: 36px;
	line-height: 50px;
	color: #273d46;
	margin: 15px 0 77px 0;
}

.picture
{
	box-shadow: 0px 15px 65px 0px;
	padding: 10px;
	margin: 0 0 90px 0;

}

.text
{
	opacity: 0.8;
	font-size: 24px;
	line-height: 40px;
	color: #273d46;
	margin: 0 0 42px 0;
	padding: 0 45px;
	
}
.upper_text
{
	margin: 0 0 50px 0;
}

.list
{
	padding: 0 45px;
}
.list li
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 36px;
	background: url(../img/check_icon_37.png) left no-repeat;
	padding: 0 0 0 35px;
}
.list li:nth-child(1)
{
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #273d46;
}
.list li:nth-child(2)
{
	font-style: italic;
	color: #80b7b3;
}
.list li:nth-child(3)
{
	font-weight: 700;
	color: #273d46;
}
.list li:nth-child(4)
{
	text-decoration: line-through;
	color: #273d46;
	margin: 0 0 59px 0;
}
.list li:nth-child(4) span
{
	opacity: 0.3;
}

.buttom
{
	display: inline-block;
	line-height: 44px;
	padding: 0 30px;
	background-color: #80b7b3;
	border-radius: 24px;
	box-shadow: 0px 6px 40px 0px;
	font-family: Arial;

	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
}
.buttom span
{
	padding: 0 30px 0 0;
	background: url(../img/shape_2_9.png) right no-repeat;
}
